*{
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
}
body{
	overflow-x: hidden;
	padding: 0;
	font-family: "微软雅黑";
	background-color: #F2F2F2;
	color: #575757;
}
.text-muted{
	font-size: 12px;
}
.btn-danger{
	background-color: #FB7E68;
	border: 1px solid #FB7E68;
}
.text-danger{
	color: #FB7E68;
}
.whiteBg{
	background-color: #FFF;
}
.whiteFont{
	color: #FFF;
}
.vCenter{/*垂直居中*/
	display:-webkit-flex;
	display: flex;
	-webkit-align-items:center;
	align-items:center;
}
.shadow{
	box-shadow: 0px 2px 10px 1px hsla(0, 0%, 3%, 0.2);
}

header{
	z-index: 10;
	border-top: 3px solid #3A4974;
	position: fixed;
	width: 100%;
	margin-bottom: 10px;
}
header .nav{
	width: 83%;
	margin: 0 auto;
}
header .nav a{
	padding: 5px 15px;
}
header img{
	width: 55px;
}
header .fa-fw{
	font-size: 35px;
}
header .text-right{
	flex: 1;
}
.container{
	width: 100%;
}
.downZone{
	margin-top: 53px;
	background: url("../image/bear.png") right bottom no-repeat;
	background-size: 25%;
	padding: 25px 0;
	background-color: #FF7c65;
}

.downZone h1,.downZone h2,.downZone h3,.downZone h5{
	margin-top: 30px;
}
.downZone .btn{
	padding-left: 10px;
	padding-right: 17px;
	background-color: transparent;
	border: 2px solid #FFF;
	font-size: 20px;
	margin-top: 55px;
	margin-bottom: 30px;
	position: relative;
}
.downZone .btn i{
	font-size: 27px;
	margin-right: 25px;
}
.downZone .btn:before{
	content: "";
	width: 2px;
	height: 76%;
	background-color: #FFF;
	position: absolute;
	left: 29%;
	top: 12%;
}
.introduceZone{
	padding-bottom: 90px;
}
.container_center{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
}
.modoule_3{
	margin-bottom: 30px;
	margin-top: 30px;
}
.introduceZone .title{
	padding: 30px 0 30px;
}
.bottomBorder{
	border-bottom: 2px solid #575757;
	padding-bottom: 8px;
}
/*.introduceZone h1{
	font-size: 48px;
	}*/
	.introduceZone img{
		width: 50%;
		margin: 0 auto;
	}
	.color_1{
		background-color: #F48653;
	}
	.color_2{
		background-color: #4BC68D;
	}
	.color_3{
		background-color: #EC5E5D;
	}
	.introduceZone .img-circle{
		width: 180px;
		height: 180px;
		margin: 0 auto;
	}
	footer{
		background-color: #3A4974;
		font-size: 16px;
		padding: 20px 0;
	}
	footer p{
		margin-bottom: 0;
		font-size: 12px;
	}
	#myModal .modal-dialog{
		margin: 6% auto;
	}
	#myModal .modal-header{
		border-bottom: 0px solid;
	}
	#myModal .modal-header span{
		font-size: 30px;
	}
	#myModal .modal-body{
		padding: 15px 0;
	}
	#myModal .input-group,#myModal textarea{
		width: 100%;
	}
	#myModal input{
		padding: 40px 0;
		border-bottom: 0px solid;
		font-size: 14px;
		border-top: 1px solid #e5e5e5;
		border-right: 0px solid;
		border-left: 0px solid;
	}
	#myModal textarea{
		resize: none;
		padding: 15px 0 45px;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		border-right: 0px solid;
		border-left: 0px solid;
	}
	#myModal .myModalFooter .submitBtn{
		color: #575757;
		padding: 30px;
		font-size: 30px;
		border-radius: 50%;
		display: inline-block;
		margin: 27px 0 20px;
		border: 1px solid hsl(9, 100%, 70%);
	}
	.myModalFooter i{
		color:hsl(9, 100%, 70%);
	}
	#myModal h5{
		color: #575757;
		line-height: 55px;
	}

	@media (min-width: 992px){
		.downZone h1{
			font-size: 70px;
		}
	}
	@media (max-width: 992px){
		.downZone h2{
			font-size: 24px;
		}
	}
	@media (max-width: 768px){
		.downZone{
			background: none;
			background-color: #FF7c65;
		}
		#myModal .modal-dialog{
			width: 70%;
			margin: 33% auto;
		}
		#myModal .modal-dialog h1{
			font-size:10px; 
		}
		#myModal .modal-header span{
			font-size: 20px;
			position: absolute;
		    right: 15px;
		    top: 15px;
		}
		#myModal input{
			padding: 20px 0;
		}
		#myModal textarea{
			padding: 15px 0;
		}
		#myModal .myModalFooter .submitBtn{
			padding:5px 6px 5px 4px;
			font-size: 18px;
		}
		#myModal h5{
			line-height: 18px;
			font-size: 12px;
		}
	}
